body {
    background-color: beige;
}
.navbar {
    padding: 1rem;
    background-color: #a98056ad;
    border-bottom: 1px;
  }
  
  .navbar-brand img {
    max-width: 120px;
  }
  
  
  /* Estilos para el CartWidget */
  .cart-widget {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  
  .cart-widget img {
    width: 20px;
    height: 20px;
    margin-right: 0.25rem;
  }
  
  .cart-count {
    font-size: 16px;
    font-weight: bold;
  }

  
  /* Estilos para los enlaces activos */
  .ActiveOption {
    font-weight: bold;
    color: rgb(95, 10, 10);
  }
  
  .Option {
    /* Agrega tus estilos para el estado inactivo aquí */
    color: gray; /* Ejemplo: Cambia el color del texto */
  }

  .nav-link {
    text-decoration: none;
  }